@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body,
#app {

    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 单行文本溢出点点点 */
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* img {
    display: block;
    max-height: 100%;
    height: auto;
} */

/* src/style.css */

/* 默认：白天模式 */
:root {
    --sider-bg: #3B7549;
    /* 侧边栏背景 */
    --action-bg: #fafafc;
    /* 操作区背景 */
    --content-bg: #f5f5f5;
    /* 文字颜色 */
    --item-bg: #ffffff;
    /* 卡片颜色 */

}

/* 切换到黑夜模式（当 html 标签带 .dark 类名时生效） */
.dark {
    --sider-bg: #18181C;
    /* 暗色下的侧边栏（可以调暗一点的绿色，或直接用 #18181c） */
    --action-bg: #242428;
    /* 暗色下的操作区背景 */
    --content-bg: #101014;
    /* 暗色下的主内容区背景 */
    --item-bg: #1c1a18;
}
/* 侧边栏 卡片颜色 action 为 dark控制 非naive ui 控制 */
@theme {
    --color-sider: var(--sider-bg);
    --color-action: var(--action-bg);
    --color-content: var(--content-bg);
    --color-item: var(--item-bg);
}